body {
  font-family: "Kalam", cursive;
  color: #ffffff;
  text-shadow: 3px 4px 5px #00172262;
  display: block;
  margin: 0 auto;
  max-width: 800px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
h2 {
  display: block;
  padding-top: 10px;
  font-size: 55px;
  font-weight: bold;
}
h6 {
  text-align: center;
  font-size: 25px;
}
p {
  text-align: center;
  font-size: 20px;
  padding-top: 0;
  margin: 0;
}
a {
  color: #ffffff;
  cursor: pointer;
  transition: ease-in-out 200ms;
  font-size: 16px;
}
a:hover {
  color: #b4b4b4;
  text-decoration: none;
}
ul {
  margin: 0;
  padding-bottom: 20px;
  padding-left: 50px;
}
li {
  list-style: none;
  line-height: 25px;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
}
footer {
  padding-top: 20px;
  margin: 0 auto 15px;
}
i {
  padding: 5px;
}
.card {
  display: block;
  text-align: center;
  background: linear-gradient(
    to top,
    #0c3483 0%,
    #a2b6df 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );
  border-radius: 20px;
  border-width: 5px;
  border-color: rgb(113, 143, 182);
}
